<!DOCTYPE html>
<html lang="et">
<head>

  {% include 'parts/header.twig' %}

</head>

<body>
  <!--/ Nav Start /-->
  {% include 'parts/menu.twig' %}
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  {% include 'parts/intro.twig' with { 'breadcrumbs': [{ url: base_url, title: 'Avaleht' }, { url: pages['varasalv'].url, title: pages['varasalv'].meta.title }] } %}
  <!--/ Intro Skew End /-->

  <!--/ Section Blog-Single Star /-->
  <section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="article-content lead">
            {{ content }}
            <div class="row mt-3">
              {% for doc in meta.documents %}
              {% include 'parts/document.twig' %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-md-4">
          {% include 'parts/tags-widget.twig' %}
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Blog-Single End /-->

  {% set tools = [] %}

  {% if user_has_right('editor/admin') %}
  {% set tools = tools|merge([
    { title: 'Muuda', type: 'edit', icon: 'icon ion-md-create', id: current_page.id }
  ]) %}
  {% endif %}

  {% include 'parts/footer.twig' with { tools: tools } %}

  {% include 'parts/scripts.twig' %}

</body>
</html>
