<!DOCTYPE html>
<html lang="en">
<head>

  {% include 'parts/header.twig' %}

</head>

<body>
  <!--/ Nav Start /-->
  {% include 'parts/menu.twig' %}
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  {% include 'parts/intro.twig' with { 'breadcrumbs': [{ url: base_url, title: 'Avaleht' }] } %}
  <!--/ Intro Skew End /-->

  {% set tags = [] %}
  {% for page in pages if page.id starts with 'varasalv/'  %}
    {% set page_tags = page.meta.tags|split(',') %}
    {% for tag in page_tags if tag|trim not in tags %}
      {% set tags = tags|merge([tag|trim]) %}
    {% endfor %}
  {% endfor %}

  <!--/ Section Blog-Single Star /-->
  <section class="sect-pt4">
    <div class="container">
      <div class="filter mb-3">
        <input class="form-control form-control-lg" id="filter" type="text" placeholder="Otsi...">
      </div>

      <h2 class="tags mb-5">
      {% for tag in tags|sort() %}
        <a href="#" class="badge badge-secondary">{{ tag }}</a>
      {% endfor %}
      </h2>
      <div class="row filter-items">
        {% for page in pages if page.id starts with 'varasalv/' %}
          {% if page.meta.category == 'video' %}
            {% include 'parts/document.twig' with { 'doc': page, grid: 'col-lg-3 col-md-4 col-sm-6', icon: 'ion-ios-videocam' } %}
          {% else %}
            {% include 'parts/document.twig' with { 'doc': page, grid: 'col-lg-3 col-md-4 col-sm-6' } %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
  <!--/ Section Blog-Single End /-->

  {% if user_has_right('edit') %}
  {% include 'parts/footer.twig' with { tools: [{ title: 'Lisa vara', class: 'add', icon: 'icon ion-ios-add' }] } %}
  {% else %}
  {% include 'parts/footer.twig' %}
  {% endif %}

  {% include 'parts/scripts.twig' %}

  <script>
    (function ($) {

      $('#filter').on('keyup', e => {
        $('.tags a').removeClass('badge-primary').addClass('badge-secondary')
        const value = $(e.target).val().toLowerCase()
        $(e.target).closest('.container').find('.filter-items > *').filter(function(e) {
          $(this).toggle($(this).find('.s-title a').text().toLowerCase().indexOf(value) > -1)
        });
      });

      $('.tags a').on('click', e => {
        e.preventDefault()
        $('#filter').val('')
        $('.tags a').not(e.currentTarget).removeClass('badge-primary').addClass('badge-secondary')
        $(e.currentTarget).toggleClass('badge-primary badge-secondary')
        if ($(e.currentTarget).hasClass('badge-primary')) {
          value = $(e.currentTarget).text().toLowerCase()
          $(e.target).closest('.container').find('.filter-items > *').filter(function(e) {
            $(this).toggle($(this).data('tags').split(',').map(tag => tag.trim().toLowerCase()).indexOf(value) > -1)
          })
        } else {
          $(e.target).closest('.container').find('.filter-items > *').show()
        }
      })

    })(jQuery);
  </script>

</body>
</html>
