# Linux
*~
*.swp

# Windows
Thumbs.db
desktop.ini

# Mac OS X
.DS_Store
._*

# Composer
composer.phar
vendor

api/*
*.yml
config.php
*.ini
.env
.htpasswd

# Idea
*.iml
.idea

src/content_deleted/*/*
js-min

node_modules
