<!--/ Section Contact-Footer Star /-->
<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url({{ meta.image }})">
  <div class="overlay-mf"></div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            <p class="copyright">&copy; <strong>{{ 'now' | date('Y') }}</strong> Oviiride suguvõsa</p>
            <p class="text-center credits"><a href="{{ pages['teave'].url }}">Teave</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
<!--/ Section Contact-footer End /-->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>
