<!-- MODAL -->
<div class="modal fade" id="rowEdit" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form class="row" novalidate>

        </form>
      </div>
      <div class="modal-footer">
        {% if meta.api.deleteColumn %}
        <button type="button" class="btn btn-light mr-auto delete" data-action="confirm" disabled>
          <i class="icon ion-md-trash"></i>
          <span>Kustuta</span>
        </button>
        {% endif %}
        <button type="button" class="btn btn-primary save"><i class="icon ion-ios-save"></i> Salvesta</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sulge</button>
      </div>
    </div>
  </div>
</div>
